.col-lg-4.col-md-6.mb-4
  .card.bg-paper
    = image_tag sighting.image, class: "img-thumbnail"
    .card-body
      %p.m-0 場所: #{sighting.place}
      %p.m-0 #{sighting.date.strftime("%Y年 %-m月 %-d日")}
