= render "/layouts/navbar"
.bg-wood
  .container.container__main
    .row
      .col-12.col-lg-8.mx-auto.my-5
        .card.bg-paper
          .card-body
            - if @sighting.image.present?
              = image_tag @sighting.image.url, class: "img-thumbnail", "data-lat": @sighting.latitude, "data-lng": @sighting.longitude
            %p.mt-3 場所: #{@sighting.place}
            %p 詳細:
            %p.card-text #{@labels}