#carouselExampleIndicators.carousel.slide.my-4{"data-ride" => "carousel"}
  %ol.carousel-indicators
    %li.active{"data-slide-to" => "0", "data-target" => "#carouselExampleIndicators"}
    %li{"data-slide-to" => "1", "data-target" => "#carouselExampleIndicators"}
    %li{"data-slide-to" => "2", "data-target" => "#carouselExampleIndicators"}
  .carousel-inner{:role => "listbox"}
    .carousel-item.active
      %img.d-block.img-fluid{:alt => "First slide", :src => "http://placehold.it/900x350"}/
    .carousel-item
      %img.d-block.img-fluid{:alt => "Second slide", :src => "http://placehold.it/900x350"}/
    .carousel-item
      %img.d-block.img-fluid{:alt => "Third slide", :src => "http://placehold.it/900x350"}/
  %a.carousel-control-prev{"data-slide" => "prev", :href => "#carouselExampleIndicators", :role => "button"}
    %span.carousel-control-prev-icon{"aria-hidden" => "true"}
    %span.sr-only Previous
  %a.carousel-control-next{"data-slide" => "next", :href => "#carouselExampleIndicators", :role => "button"}
    %span.carousel-control-next-icon{"aria-hidden" => "true"}
    %span.sr-only Next
