.modal.modal__trim#trimmingModal{role: "dialog", "data-keyboard": false, "data-backdrop": "static"}
  .modal-content.px-3
    .modal-header
    .modal-body.px-0
      = image_tag "", class: "image-trimming"
    .modal-footer.px-0.py-3
      %button.btn.btn-secondary.btn-trimming-back 戻る
      %button.btn.btn-primary.btn-trimming-confirm 決定
