/ Navigation
= render "/layouts/navbar"
.bg-image--gray-wall
  .container
    .row
      .col-lg-12.mt-4
        .row
          = render @posts
    .footer.fixed-bottom
      .container
        = button_to "張り紙をする", new_post_path, method: :get, class: "nav-item btn btn-primary mb-2 mr-2 float-right"

