.anti-button-blank {
  width: 56px;
  height: 40px;
}

h5 {
  font-size: 1.2rem;
}

.img-thumbnail {
    border: 0 none;
    box-shadow: none;
    padding: 0.5rem;
}

body {
  background-color: #777777;
}

