.anti-button-blank {
  width: 56px;
  height: 40px;
}

h5 {
  font-size: 1.2rem;
}

.img-thumbnail {
  background-color: transparent;
    border: 0 none;
    box-shadow: none;
    padding: 0;
}

body {
  min-height: 100vh;
  padding: 0;
}

.nav-margin {
  height: 56px;
}

.image-box {
  position: relative;
}

.image-mask {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
  opacity: 0;
  background: rgba(0, 0, 0, 0.5);

  &:hover {
    opacity: 1;
  }
}

.image-trimming {
  width: 100%;
}

.modal {
  width: 100%;
}
