.sidebar.bg-light
  .sidebar-sticy
    .ul.nav.flex-column
      .li.nav-item
        = link_to "張り紙", root_path, class: "nav-link"
      .li.nav-item
        = link_to "目撃情報", sightings_path, class: "nav-link"
